@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background-image:url(../resources/images/k.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position:relative;
  top:80px;
  height:400px;
  
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form input[type="text"],
form input[type="number"],
form input[type="file"],
form button {
  width: calc(100% - 10px);
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button.login-btn {
  background-color: #2196F3;
}


@media screen and (min-width: 768px) {
  .cdwcdw {
    float: left;
    width: 50%;
    padding-right: 10px;
  }
  
  .column-right {
    float: right;
    width: 50%;
    padding-left: 10px;
  }
}

@media screen and (max-width: 767px) {
  form input[type="text"],
  form input[type="number"],
  form input[type="file"],
  form button {
    width: 100%;
  }
}
